* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* trên dưới 0 / trái phải auto */
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

header ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}
/* A,B => css liệt kê */
header ul li a:hover,
header .active {
  color: #e62b4a;
}

header ul {
  display: flex;
  list-style-type: none;
}

header li {
  margin-left: 20px;
}

/* flex box : dàn layout hàng ngang / dọc khi có nhiều item */

header .container {
  height: 80px;
  /* border: 2px solid red; */
  display: flex;
  /* mặc định trục chính là chiều ngang / phục là dọc*/

  /* trục chính :justify-content */
  justify-content: space-between; /* căn đều các item */

  /* trục phụ : align-items: ; */
  align-items: center; /* căn đều các item theo chiều dọc */
}

/* start banner */

.banner {
  height: 100vh;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  /* đổi trục chính flex sang trục dọc */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner h3 {
  font-size: 40px;
}

.banner h2 {
  text-align: center;
  margin: 40px 0;
  font-size: 75px;
  font-weight: 900;
}
.banner button {
  /* background: #af2239; */
  background: #e62b4a;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: 0.5s;
}

.banner button:hover {
  /* background: #af2239; */
  background: black;
  cursor: pointer;
}

/* aboluste => Mất diện tích , di chuyển theo thẻ cha ( bọc ngoài + postion absolute hoặc relative ) */

/* relative => Không mất diện tích, di chuyển từ vị trí hiện tại */

.banner i {
  font-size: 50px;
  color: white;
  margin-top: 20px;
  /* gắn animate */

  animation: animate-color 0.5s infinite;
  /* tên - duration 1 animate - số lần lặp */
}

/* tạo animate */

@keyframes animate-color {
  0% {
    color: black;
    /* font-size: 20px; */
    transform: translateY(0) translateX(0) rotate(0) scale(0.5);
    opacity: 1;
  }
  50% {
    color: white;
    /* font-size: 40px; */
    transform: translateY(20px) translateX(20px);
  }
  100% {
    color: red;
    /* font-size: 60px; */
    transform: translateY(40px) translateX(-100px) rotate(360deg) scale(1.5);
    opacity: 0.3;
  }
}

/* stranslateX : trái quan phải */
/* translateY: trên xuống dưới */
/* rotate: xoay */
/* scale: phóng to thu nhỏ */

/* --------start Service ------*/

.services {
  background: black;
  padding: 60px 0;
}

.services__title {
  text-align: center;
}

.services__title p:first-of-type {
  color: rgb(230, 43, 74);
}

.services__title p:last-of-type {
  color: gray;
}

.services__title h1 {
  color: white;
}

.services__item {
  color: gray;
  background: white;
  width: 201px !important;
  height: 230px;

  margin: 0 10px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  position: relative;
}

/* khi dùng affter hoặc beffore thì phải có thuộc tính content */
.services__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  height: 0%;
  width: 10px;
  transition: 0.5s;
}

.services__slides {
  display: flex;
}

.services__icon {
  font-size: 30px;
}

.services__item:hover::after {
  height: 100%;
}

.slick-dots li button:before {
  font-size: 20px !important;
  color: white !important;
  /* opacity là thuộc tính quyết định sự trong suốt của element 0 -> 1 */
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
}

/*------- end services --------*/

/* ------- Start blog------- */
.blog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px; /* khoang cách giữa các item */
}
.blog__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}
.blog__content .blog_1 {
  grid-column: 1 / span 2;
  /* bat dau từ cột 1 và kéo dài qua 2 cột */
  grid-row: 1 / span 2;
  /* bat dau từ hàng 1 và kéo dài qua 2 hàng */
}
.blog__content .blog_10 {
  grid-column: 3 / span 2;
  /* bat dau từ cột 3 và kéo dài qua 2 cột */
  grid-row: 3 / span 2;
  /* bat dau từ hàng 3 và kéo dài qua 2 hàng */
}
.overlay {
  background: rgba(230, 43, 74, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}
.blog__item {
  position: relative;
}
.blog__item .overlay_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translateY(30px);
  transition: 0.35s;
}
.blog__item:hover .overlay_icon {
  transform: translateY(0);
}
.blog__item .overlay_text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translateY(30px);
  transition: 0.35s;
}
.blog__item:hover .overlay_text {
  transform: translateY(0);
}
.overlay_text p:first-of-type {
  color: gray;
}
.overlay_text p:last-of-type {
  color: white;
}
.overlay_icon {
  padding: 5px;
}
.overlay_icon i {
  color: black;
}
.overlay_icon i:hover {
  color: white;
  transition: 0.5s;
}
/* ------- end blog------- */

/* start number */
.number {
  background: black;
  padding: 30px 0;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_item p:first-of-type {
  font-size: 60px;
  font-weight: 400;
  color: white;
}
.number_item p:last-of-type {
  font-size: 20px;
  color: gray;
}

/* end number */
